<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150405689389-n1ldcq25hde24s452ap73turbbj5rg2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150405689389-n1ldcq25hde24s452ap73turbbj5rg2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAhbP2irY0ZPyIW9SUBswGkeV5GQoap9tY</string>
	<key>GCM_SENDER_ID</key>
	<string>150405689389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calorieMe</string>
	<key>PROJECT_ID</key>
	<string>calorieme</string>
	<key>STORAGE_BUCKET</key>
	<string>calorieme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150405689389:ios:6dc2d466e3d852dbef48a4</string>
</dict>
</plist>